@import "init.css";
@import "articles.css";

#articles-container details > summary > h2 {
  display: inline;
  font-size: 18px;
  font-weight: 700;
}

#articles-container details > ul h2 {
  display: inline;
  font-size: 18px;
  font-weight: 700;
}

#articles-container details > ul h3 {
  display: inline;
  font-size: 14px;
  font-weight: 400;
}

#articles-container details > ul time {
  font-size: 12px;
  color: #767676;
  font-weight: 400;
}

#articles-container details ul li {
  margin-top: 20px;
}

#articles-container details {
  margin-top: 10px;
}

#articles-container details[open] > summary {
  background-color: black;
  color: white;
}
