<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Tianyi Ma</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="马天一 Tianyi Ma">
  <meta name="google-site-verification" content="pUkxCsgl_0bEBcWEUB2ciDeVwvX4MxitV-m96sQ7ZoE" />

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/index.css" as="style">
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <p>Hello there👋</br></br>
      I’m Tianyi, a recent graduate seeking Research Assistant/Volunteer, Data Analyst/Scientist jobs. 
      I worked as a professional software engineer for a year after college at a fast-paced startup, 
      and have done extensive undergraduate research on a variety of theoretical and computational 
      mathematics and natural language processing problems using Python.</br></br>
      I now regularly dedicate my time deep diving into studies about generative AI, NLP and use those knowledge
      to study AI biases and fairness. Moreover, I'm studying computational social science for societal issues, 
      and also GIS analysis for solving climate change problems. I'm also taking foundational CS courses that I missed
      in undergrad to build a solid CS background, such as OS and programming languages. I'm passionate about continuous
      learning. </br></br>
      In my spare time, I love to take long walks, read novels, travel and discover new places to eat. I've been to
      more than 15 countries in the world, a dozen in Europe, and much more cities. I also adore animals and have an orange cat
      named Butter with my husband.</p>
  </main>
</body>
</html>
