<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Tianyi Ma</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="马天一 Tianyi Ma">
  <meta name="google-site-verification" content="pUkxCsgl_0bEBcWEUB2ciDeVwvX4MxitV-m96sQ7ZoE" />

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/index.css" as="style">
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <p>Hello there👋</br></br>
      My name is Tianyi Ma. I am previously a software engineer at Scale AI, a leading platform for data labeling 
      and AI applications. I graduated from the University of Rochester with a Bachelor of Science in Mathematics, 
      a Minor in Computer Science, and I have a strong background in data analysis and machine learning.</br></br>
      I now studies generative AI, NLP, LLM and use those knowledge to study AI biases and fairness. Moreover, I'm 
      taking online computational social science for fun. I'm also reading Design Machine Learning Systems by Chip Huyen
      to learn about end-to-end ML, because it's not enough to just know how to train a model anymore. </br></br>
      In my spare time, I love to take long walks, read novels, travel and discover new places to eat. I've been to
      more than 15 countries in the world, a dozen in Europe, and much more cities. I also adore animals and have an orange cat
      named Butter with my husband.</p>
  </main>
</body>
</html>
